.dashboard-area {
    background: #F4F4F4;
    padding: 0 30px;
}

/* dashboard start */

h2.title-dashboard {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #102048;
    height: 190px;
}

p.section-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

h2.title-dashboard {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #102048;
    height: 190px;
}

p.section-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #000000;
}

.company-info {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 26px 22px;
    margin-bottom: 30px;
}

.company-info span {
    margin-left: 6px;
    color: #A5A5A5;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.view-count {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-count h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;

    color: #000000;
}

.view-count button {
    background: #1E2772;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    padding: 7px 21px;
}

.view-count {
    padding-bottom: 45px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 22px;
}

.mamber img {
    margin-left: -6px;
}

.mamber {
    margin-left: 6px;
    margin-bottom: 15px;
}

/* dashboard end */


/* expense-area start*/

.expense-part {
    margin-top: 100px;
    padding-bottom: 80px;
}

.recharts-wrapper {
    width: 516px;
    height: 150px;
}

p.title-expense {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.progress-bar-area {
    border: 1px dashed #9747FF;
    border-radius: 5px;
    padding: 20px;
    width: 273px;
    height: 406px;
}

.progress-bar-area>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1C1C1C;
}

.progress-bar-area h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #1C1C1C;
    margin-bottom: 12px;
}

.progress-ba p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 4px;
}

.progress-ba {
    margin-bottom: 24px;
    position: relative;
}

.progress-ba .progress {
    width: 163px;
    height: 28px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.progress-ba .progress-bar {
    background: #C6C7F8;
}

.progress-ba h4 {
    position: absolute;
    font-size: 18px;
    color: #1C1C1C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    top: 28px;
    right: 76px;
}

.progress-ba h4 span {
    color: rgba(0, 0, 0, 0.2);
    margin: 0 4px;
    display: inline-block;
}

/* chart area */

.date {
    display: flex;
}

.date p {
    margin: 0 13px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    color: #BCBCBC;
}

.date-btu button {
    border: beige;
    background: #1E2772;
    color: #fff;
    padding: 11px 16px;
    border-radius: 10px;
    position: relative;
    box-shadow: -1px 11px 9px -5px rgba(174, 175, 199, 0.75);
    -webkit-box-shadow: -1px 11px 9px -5px rgba(174, 175, 199, 0.75);
    -moz-box-shadow: -1px 11px 9px -5px rgba(174, 175, 199, 0.75);
}

.date-btu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date p.active {
    color: #000;
}

.date-btu button:after {
    position: absolute;
    width: 1px;
    height: 65px;
    left: 0;
    top: -8px;
    background: #1E2772;
    content: '';
}

.expense-area {
    background: #fff;
    padding: 36px;
    border-radius: 5px;
}

h3.tk {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    margin-top: 23px;
    margin-bottom: 40px;
}



/* responsive */

@media (min-width: 268px) and (max-width: 972.98px) { 
    .progress-bar-area {
          width: auto;
      
    }

    .title-right button{
        margin-right: 7px;
        padding: 8px 19px;
    }
 }

 @media (min-width: 268px) and (max-width: 839.98px) { 
    .input-tex-box {
        display: block;
        margin-bottom: 15px;
    }

    .input-area {
        width: auto;
        margin-bottom: 30px;
    }
 }

 @media (min-width: 268px) and (max-width: 767.98px) { 
    .title-right {
        text-align: revert;
        margin-bottom: 31px;
    }
 }
 @media (min-width: 991px) and (max-width: 1247.98px) { 
    .view-count {
        display: block;
    }
 }