.right-area {
    background: #1E2772;
    width: 100%;
    height: 100%;
    position: sticky;
}

h1.logo {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    padding: 46px 0 100px 0;
}

.menu-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-area ul li img{width: 26px;margin-right: 22px;padding: 11px 0;}

.menu-area ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding-left: 95px;
}

.menu-area ul li a:hover {
    background: rgba(238, 238, 238, 0.2);
    border-radius: 8px;
}

/* logout css */

.logout {
    margin-left: 97px;
    margin-top: 86px;
}

img.logout-icon {
    width: 20px;
    margin-right: 25px;
}

.logout button {
    background: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
}

.accordion-button::after {
    margin-left: -154px;
    color: #fff;
}

.accordion-item:first-of-type .accordion-button {
    padding-left: 92px;
    background: #1E2772;
    border: none;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.accordion-item:first-of-type .accordion-button img {
    margin-right: 19px;
}

.accordon-area {
    background: transparent;
}

.accordon-area .accordion {
    --bs-accordion-bg:  #1E2772 !important;
    --bs-accordion-border-color: none;
}

ul.accrd {
    margin-left: 59px;
}

.accordion {
    --bs-accordion-border-color: none;
}

.accordon-area .accordion-button::after {
    margin-left: -151px !important;
}

ul.accrd li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 22px;
    color: #fff;
}

@media (min-width: 100px) and (max-width: 1000.98px) { 
    .menu-area ul li a {
       
        padding-left: 20px;
    }

    .accordion-item:first-of-type .accordion-button {
        padding-left: 20px;
        
    }
 }
